body {
	margin: 0;
	background: #393838;
}

.active-players {
	height: 35px;
	line-height: 35px;
	padding: 5px;
	background-color: black;
	color: white;

	margin-bottom: 5px;
}

.pause-overlay{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: red;
	display: none;
}

.help {
	float: left;
	border: solid 1px white;
	width: 25px;
	text-align: center;
}
.help:hover {
	cursor: help;
}

.pre-text{
	float: left;
	margin-left: 5px;

}
.amount {
	float: left;
	margin-left: 0.5rem;
}

.admin-controls {
	display: none;
	float: right;
	margin-right: 10px;
	
}

#player-name {
	border: none;
	border-bottom: solid black 1px;
	outline: none;
	padding: 5px;
}

button {
	background-color: #ffe7d2;
	padding: 8px;
	outline: 0;
}
button:hover {
	cursor: pointer;
}
button:active {
	background-color: #80e2dd;
}


.my-turn {
	background-color: #9df99f!important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

.player {
	width: 10rem;
	min-height: 89px;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	float: left;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.name {
	font-size: 1.2rem;
	margin-bottom: 15px;
}

.timer {

}

.last-round {

}
